/* base */
:root {
  --menu-links-color: #031929;
  --titulo-seccion-color: #e37222;
  --color-grey: #e8e7e7;
}

/* General Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  font-size: 17px;
  min-height: 100%;
}



a {
  text-decoration: none;
}

img{
  image-orientation: from-image !important;
}

.container{
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
  grid-column-gap: 1.5rem;
  padding: 0 auto;
}

.grid-container > * {
  text-align: center;
}

.grid-container {
  width: 100%;
  display: grid;
  gap: 0.1rem;
  border-style: solid;
  margin: 0;
  bottom: 0;
  border-top-width: 1.1rem;
  border-bottom-width: 2.2rem;
  border-top-color: #031929;
  border-bottom-color: #031929;
  grid-template-columns: repeat(1, 1fr);
  grid-column: 1 / -1;
  grid-template-areas: 
    "header"
  	"portada"
  	"destacados"
    "portada_herramientas"
    "frase"
  	"novedades"
  	"portada_iluminacion"
  	"ofertas"
  	"footer";
}

.banner {
  grid-area: banner;
  grid-column: 1 / -1;
  width: 100%;
  text-align: left;
  margin-top: 6rem;
  margin-bottom: 3rem;
  height: 2rem;
  background-color: var(--color-grey);
  color: var(--menu-links-color);
  font-family: "Lato", sans-serif;
  font-weight: 490;
  cursor: pointer;
  padding-left: 10rem;
}


.portada-herramientas {
  grid-area: portada_herramientas;
  width: 80%;  
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}



.portada-iluminacion {
  grid-area: portada_iluminacion;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.portada-herramientas, .portada-iluminacion {
  display:flex;
  justify-self: center;
  justify-items: center;
}

.foto-user {
  display: block;
  padding: 0.5rem;
  text-align: center;
}

.img-user {
  width: 8rem;
  height: 9rem;
  object-fit: cover;
  border: 0.65rem solid var(--color-grey);
}



.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  
}

.jumbotron .jumbo-container {
  position:relative;
  z-index:2;
  padding-bottom:2rem;
  transform: translateY(70px);
  object-fit: cover;
}

.jumbotron .jumbo-container p, h5 {
  color: var(--menu-links-color);
  font-size: 1.3rem;
}

.jumbotron .jumbo-container h5 {
  
  font-weight: bold;
}

.jumbotron .jumbo-container p {
  font-family: 'Noto Sans', sans-serif !important;
  font-style: oblique;
}


.jumbotron-background {
  object-fit:cover;
  font-family: 'object-fit: cover;';
  position:absolute;
  top:0;
  z-index:1;
  width:100%;
  height:46%;
}

img.blur {
	-webkit-filter: blur(0);
	filter: blur(0);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.btn {
  background-color: var(--menu-links-color);
  color: white;
  font-size: 1rem;
}

.btn:hover {
  color: #c0c0c0;
  transition: .4s ease;
}

.frase {
  grid-area: frase;
  color: var(--menu-links-color);
  font-family: 'Noto Sans', sans-serif;
  display: block;
  justify-content: center;
  text-align: center;
}

.frase-txt:before {
  visibility: visible;
  content: '"Hacemos envios a todo el país"';
}

.name {
  width: 22rem;
  height: 3rem;
  background-color: var(--color-grey);
  font-weight: 800;
  padding-left: 0.6rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 0.059rem solid var(--color-grey);
}

.telefono {
  width: 22rem;
  height: 3rem;
  background-color: var(--color-grey);
  font-weight: 800;
  padding-left: 0.6rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 0.059rem solid var(--color-grey);
}

.mail {
  width: 22rem;
  height: 3rem;
  background-color: var(--color-grey);
  font-weight: 800;
  padding-left: 0.6rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 0.059rem solid var(--color-grey);
}

.password {
  width: 22rem;
  height: 3rem;
  background-color: var(--color-grey);
  font-weight: 800;
  padding-left: 0.6rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 0.059rem solid var(--color-grey);
}

.mensaje {
  width: 22rem;
  height: 6rem;
  background-color: var(--color-grey);
  font-weight: 800;
  padding-left: 0.6rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 0.059rem solid var(--color-grey);
}

.ubi-box {
  text-align: center;
  width: auto;  
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.cmb {
  display: inline;
  margin: 1rem auto;
  width: 11rem;
  margin-bottom: 3rem;
}



#localidad{
  position: relative;
}

.ubi-labels {
  color: var(--menu-links-color);
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: -1rem;
}


.pull-left, .pull-ri {
  display: inline-block;
}

.ubi-labels .pull-left {
  text-align: left;
  margin-left: -12rem;
}

.pull-ri {
  text-align: right;
  transform: translateX(6rem);
}

.item-cantidad {
  width: 5rem;
  text-align: center;
  border: 0.118rem solid var(--menu-links-color);
  border-radius: 0.5rem;
}



@media (max-width: 768px) {
  .item-cantidad {
    width: 4rem; 
  }

  .name {
    width: 18rem;
    height: 3rem;
    background-color: var(--color-grey);
    font-weight: 800;
    padding-left: 0.6rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 0.059rem solid var(--color-grey);
  }
  
  .telefono {
    width: 18rem;
    height: 3rem;
    background-color: var(--color-grey);
    font-weight: 800;
    padding-left: 0.6rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 0.059rem solid var(--color-grey);
  }
  .mail {
    width: 18rem;
    height: 3rem;
    background-color: var(--color-grey);
    font-weight: 800;
    padding-left: 0.6rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 0.059rem solid var(--color-grey);
  }
  
  .password {
    width: 18rem;
    height: 3rem;
    background-color: var(--color-grey);
    font-weight: 800;
    padding-left: 0.6rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 0.059rem solid var(--color-grey);
  }

  .portada-herramientas, 
  .portada-iluminacion {
    width: 100%;  
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  

  .pull-left{
    text-align: left;
    padding-left: -10rem;
    padding-bottom: 0;
  }
  
  
  .pull-ri {
    display: block;
    text-align: left;
    padding-left: 2.8rem;
    transform: translateY(6rem);
  }
 
}

.name:focus,
.telefono:focus,
.mail:focu s,
.password:focus {
  outline: none;
  border: 0.059rem solid var(--color-grey);
}

.page-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s linear;
}

.page-loader--show{
  opacity: 1;
  visibility: visible;
}




@media (max-width: 950px) { 
  .frase > *{
    font-size: 2rem;
  }

  .frase-txt:before {
    visibility: hidden;
    content: none;
  }

  .frase-txt:after {
    visibility: visible;
    content: '"Enviamos a todo el país"';
  }
}

@media (max-width: 404px) { 
  .frase > *{
    font-size: 1.1rem;
  }
}

/* Jumbotron */
@media (max-width: 768px) {
  .jumbotron {
    height: 55vh;
  }
  
  .jumbotron .container {
    padding: 1.5rem;
    height: 10vh;
    transform: translateY(1rem);
  }
  .jumbotron .container p {
    font-size: 1rem;
  } 
}

@media (max-width: 560px) {
  .jumbotron {
    height: 50vh;
  }

  .jumbotron .container p {
    font-size: 0.8rem;
  } 
}

@media (max-width: 460px) {
  .jumbotron {
    height: 46vh;
  }

  img.blur {
    width: 100%;
    height: 60vh;
  }

  .jumbotron .container p {
    font-size: 0.6rem;
  } 
}




