.carrito-main {
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "banner"
                         "head"
                         "content";
}


.venta-detail{
    cursor: pointer;
}

#pedidos-title, #pedidos-hr {
    color: var(--titulo-seccion-color);
}

#pedidos-head {
    background-color: var(--color-grey);
}

.venta-detail img {
    width: 2rem;
    height: 2rem;
    margin: 1rem 0;
}

.venta-detail img:hover{
    transform: scale(1.2, 1.2);
    transition: .4s ease;
    opacity: 0.5;
}


#carrito-ban{
    grid-area: banner;
    grid-column: 1 / -1;
    width: 100%;
    text-align: left;
    margin-top: -2rem;
    height: 2rem;
    
  }

.carrito-head {
    grid-area: head;
    height: 60%;
    text-align: left;
    padding-left: 7rem;
    margin-bottom: 1.5rem;
}

.carrito-head h3,
.carrito-head span {
    display: inline;
}

.carrito-icono  img{
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.9rem;
}

.carrito-head h3 {
    font-weight: 700;
    color: var(--titulo-seccion-color);
}

.carrito-content {
    grid-area: content;
    grid-column: 1 / -1;
    width: 100%;
    margin-bottom: 5rem;
}

.carrito-hr {
    border: 0.059rem solid var(--titulo-seccion-color);
    width: 90%;
    margin-top: -1rem;
}

.tabla-main {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin: 0.3rem 0;
    overflow: auto;
}

table {
    width: 70%;
    height: 45vh; 
}

.carrito-tabla thead th{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--menu-links-color);
    text-align: justify;
    white-space: nowrap;
}

.carrito-tabla thead{
    border-bottom: 0.056rem solid var(--menu-links-color);
}

.carrito-tabla tbody td {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--menu-links-color);
    text-align: left;
}

.carrito-tabla tbody tr {
    height: 2.5rem;
}

.carrito-total {
    width: 70%;
    height: 5vh;
    display: block;
    text-align: right;
    margin: 1rem 0;
}

.carrito-total h4 {
    font-weight: 800;
    display: block;
}

/* .carrito-total .tabla-main*/

.retiro-envio {
    display: block;
    margin: 0 0.5rem;
}

.retiro, .envio {
    display: block;
    text-align: justify;
}

.retiro {
    margin-bottom: -1.2rem;
}


#retiro-lbl, #envio-lbl {
    font-size: 0.9rem;
}


.carrito-botones {
    width: 80%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    margin: 6rem 0;
}

.carrito-botones button {
    width: 7rem;
    height: 2.7rem;
    display: inline;
    border-radius: 0.2rem;
    margin: 0 1rem;
    color: #ffff;
    font-weight: 700;
}

.carrito-vaciar {
    background-color: var(--menu-links-color);
}

.carrito-continuar {
    background-color: var(--titulo-seccion-color);
}

.carrito-botones button:hover {
    filter: opacity(.4);
    text-decoration: none;
}

.carrito-botones button,
.carrito-botones button:after,
.carrito-botones button:before {
    transition: all .5s;
}



.carrito-foto img {
    object-fit: cover;
    width: 6rem;
    border: 0.2rem solid var(--color-grey);
}

.carrito-foto img:hover {
    transform: scale(1.2, 1.2);
    transition: .4s ease;
    opacity: 0.5;
  }

#cant-item {
    width: 4rem;
}

.error{
    border: 0.118rem solid red;
    color: #721c24;
    background-color: #f5c6cb;
}

#subtotal, #precio {
    font-size: 1rem;
    font-weight: 800;
}

.delete {
    background-color: transparent;
    cursor: pointer;
}

.delete img {
    width: 2rem;
    height: 2rem;
}

.delete img:hover {
    transform: scale(1.2, 1.2);
    transition: .4s ease;
    opacity: 0.5;
}

.item-cantidad-cart {
    width: 4rem;
}




@media (max-width: 768px) { 

    #th-pu {
        transform: translateX(-1rem);
    }

    #th-cant {
        transform: translateX(-0.5rem);
    }

    .item-cantidad-cart {
        width: 2.2rem;
        margin-bottom: 0.5rem;
    }
    
    .carrito-icono  img{
        width: 2rem;
        height: 2rem;
        margin-bottom: 1rem;
    }
    

    .delete img {
        width: 1.4rem;
        height: 1.4rem;
    }

    #subtotal, #precio {
        font-size: 0.8rem;
        font-weight: 800;
    }
    .carrito-head {
        padding-left: 1rem;
    }

    .carrito-head h3 {
        font-size: 1.2rem;
    }

    #carrito-ban {
        padding-left: 1rem;
    }

    .carrito-tabla {
        width: 95%;
        margin: 0 -0.2rem;
        
    }

    .tabla-main {
        overflow-y: auto;
        overflow-x: auto;
    }

    .carrito-tabla thead th{
        font-size: 0.8rem;
        white-space: normal;
        padding: 0.01rem;
    }

    .carrito-tabla tbody td {
        font-size: 0.7rem;
    }

    .carrito-total {
        margin-top: 0.2rem;
    }

    table {
        height: 35vh;
    }
    

    .carrito-botones {
        width: 100%;
        transform: translateY(1rem);
    }

    .carrito-foto img { 
        width: 4rem;
    }
    
}