
    .categoria-wrapper {
        display: grid;
        grid-column: 1 / -1;
        grid-gap: 1rem;
        margin-top: -4rem;
        padding: 0.5rem;
        width: 100%;
        margin-bottom: 6rem;

    }
    
    .portada {
        width: 100%;
        height: 47vh;
        margin-bottom: 1rem;
        display: grid;
        grid-column: 1 / -1;
        justify-content: center;
    }
    
    .portada img {
        width: 70vw;
        height: 47vh;
        object-fit: cover;
    }
    
    .subcategorias-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, 14rem);
        justify-content: center;
        grid-column: 1 / -1;
        margin: 2rem 0;
        padding: 1rem;
        grid-gap: 1rem;
    }
    
    .subcategoria-cell {
        border: solid 0.2rem var(--color-grey);
        height: 35vh;
        display: flex;
        flex-direction: column;
    }

    .subcategoria-card {
        height: 100%;
    }
    
    .subcategoria-img-top {
        height: 75%;
        
    }
    
    .subcategoria-img-top .subcategoria-img {
        height: 100%;
        object-fit: cover;
    }
    
    .subcategoria-name {
        height: 25%;
        background-color: var(--color-grey);
        text-align: center;
        padding: 0.3rem;
    }
    
    .subcategoria-title {
        font-size: 1rem;
        color: var(--menu-links-color);
    }
    
    .subcategoria-cell:hover {
        color: #ffffff !important;
        transform: scale(1.08);
        transition: all 0.5s ease;
        border: 0.235rem var(--color-grey) !important;
        border-style: dashed !important;
    }
    
    .subcategoria-cell:hover .subcategoria-name {
        background-color: var(--menu-links-color);
        color: #ffffff;
        width: 100%;
    }
    
    .subcategoria-cell:hover .subcategoria-title  {
        color: #ffffff;
    }
    
    a:hover {
        text-decoration: none;
    }

    .subcategoria-slider {
        display: none;
        visibility: hidden;
    }

@media (min-width: 1280px) { 
    .subcategorias-wrapper {
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, 18rem);
    }
    .subcategoria-name {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .categoria-wrapper {
        width: 100%;
        grid-gap: 1rem;
        margin-top: 2rem;
        
    }
    
    .portada {
        width: 100%;
        height: 47vh;
        margin-bottom: 1rem;
        display: grid;
        grid-column: 1 / -1;
        justify-content: center;
    }
    
    .portada img {
        width: 100%;
        height: 35vh;
        object-fit: cover;
    }
    
    .subcategorias-wrapper {
       display: none;
       visibility: hidden;
    }

    .subcategoria-slider {
        width: 100%;
        padding: 2rem 3rem;
        display: block;
        visibility: visible;
        margin-top: -5rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto, 20rem);        
    }

    .subcategoria-slider a {
        text-decoration: none;
        width: auto;
    }
    
    .subcat-cell {
        border: solid 0.2rem var(--color-grey);
        width: 15rem;
        height: 37vh;
        margin: 0 1rem;
    }
    
    .subcat-img-top {
        height: 30vh;
        object-fit: cover;
    }
    
    .subcat-img-top .subcat-img {
        height: 30vh;
    }
    
    .subcat-name {
        height: 6vh;
        background-color: var(--color-grey);
        text-align: center;
        padding: 0.3rem;
        margin: 0 0;
    }
    
    .subcat-title {
        font-size: 0.8rem;
        color: var(--menu-links-color);
    }
    
    .subcat-cell:hover {
        color: #ffffff !important;
        transform: scale(1.08);
        transition: all 0.5s ease;
        border: 0.235rem var(--color-grey) !important;
        border-style: dashed !important;
    }
    
    .subcat-cell:hover .subcat-name {
        background-color: var(--menu-links-color);
        color: #ffffff;
        width: 100%;
    }
    
    .subcat-cell:hover .subcat-title  {
        color: #ffffff;

    }
    
    a:hover {
        text-decoration: none;
    } 
}

@media (min-width: 320px) and (max-width: 480px) { 
    .subcat-cell {
        width: 14rem;
        margin-right: 1rem;
    }
}






