@media (min-width: 768px) {
    .categoria-wrapper {
        width: 80%;
        display: grid;
        grid-gap: 1rem;
        text-align: center;
        margin-left: 8.4rem;
        margin-top: -4rem;
        
    }
    
    .portada {
        width: 100%;
        height: 47vh;
        margin-bottom: 1rem;
    }
    
    .portada img {
        width: 100%;
        height: 47vh;
        object-fit: cover;
    }
    
    .subcategorias-wrapper {
        width: 100%; 
        display: grid;
        grid-template-columns: repeat(auto-fit, 17rem);
        text-align: center; 
        gap: 2rem;
        margin: 4rem 0;
        padding-left: 3rem;
        transform: translateX(2rem);
    }
    
    .subcategoria-cell {
        border: solid 0.2rem var(--color-grey);
        width: 17rem;
        height: 37vh;
    }

    .subcategoria-card {
        width: 100%;
        height: 100%;
    }
    
    .subcategoria-img-top {
        width: 100%;
        height: 30vh;
        object-fit: contain;
    }
    
    .subcategoria-img-top .subcategoria-img {
        width: 100%;
        height: 100%;
    }
    
    .subcategoria-name {
        width: 100%;
        height: 6vh;
        background-color: var(--color-grey);
        text-align: center;
        padding: 0.3rem;
    }
    
    .subcategoria-title {
        font-size: 1.2rem;
        color: var(--menu-links-color);
    }
    
    .subcategoria-cell:hover {
        color: #ffffff !important;
        transform: scale(1.08);
        transition: all 0.5s ease;
        border: 0.235rem var(--color-grey) !important;
        border-style: dashed !important;
    }
    
    .subcategoria-cell:hover .subcategoria-name {
        background-color: var(--menu-links-color);
        color: #ffffff;
        width: 100%;
    }
    
    .subcategoria-cell:hover .subcategoria-title  {
        color: #ffffff;
    }
    
    a:hover {
        text-decoration: none;
    }

    .subcategoria-slider {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .categoria-wrapper {
        width: 100%;
        display: grid;
        grid-gap: 1rem;
        text-align: center;
        margin-top: 2rem;
    }

    

    .portada img {
        width: 100%;
        height: 100%
    }

    .subcategorias-wrapper {
        
        grid-template-columns: repeat(auto-fit, 14rem);
        
    }
    
    .subcategoria-cell {
        border: solid 0.2rem var(--color-grey);
        width: 14rem;
    }    
}


@media (max-width: 768px) {
    .categoria-wrapper {
        width: 100%;
        display: grid;
        grid-gap: 1rem;
        text-align: center;
        margin-top: 2rem;
        
    }
    
    .portada {
        width: 100%;
        height: 12rem;
        margin: -2rem 0;
    }
    
    .portada img {
        width: 100%;
        height: 100%
    }
    
    .subcategorias-wrapper {
       display: none;
    }

    .subcategoria-slider {
        width: 100%;
        height: 45vh;
        padding: 2rem 2rem;
        gap: 1rem;
        margin-top: 0.2rem;
        gap: 2rem;   
    }

    .subcategoria-slider a {
        text-decoration: none;
    }
    
    .subcat-cell {
        border: solid 0.2rem var(--color-grey);
        width: 17rem;
        height: 37vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
    }

    .subcategoria-card {
        width: 17rem;
        height: 100%;
    }
    
    .subcat-img-top {
        width: 17rem;
        height: 30vh;
        object-fit: cover;
    }
    
    .subcat-img-top .subcat-img {
        width: 50vw;
        height: 30vh;
    }
    
    .subcat-name {
        width: 17rem;
        height: 6vh;
        background-color: var(--color-grey);
        text-align: center;
        padding: 0.3rem;
        margin: 0 0;
    }
    
    .subcat-title {
        font-size: 1rem;
        color: var(--menu-links-color);
    }
    
    .subcat-cell:hover {
        color: #ffffff !important;
        transform: scale(1.08);
        transition: all 0.5s ease;
        border: 0.235rem var(--color-grey) !important;
        border-style: dashed !important;
    }
    
    .subcat-cell:hover .subcat-name {
        background-color: var(--menu-links-color);
        color: #ffffff;
        width: 100%;
    }
    
    .subcat-cell:hover .subcat-title  {
        color: #ffffff;

    }
    
    a:hover {
        text-decoration: none;
    } 
}






