.prod-novedades {
    grid-area: novedades;
    background-color: #ffffff;
    width: 70%;
    height: 60vh;
    position: relative;
    display:flex;
    justify-self: center;
    bottom: 0;
    display: grid;
    grid-template: min-content min-content 1fr / 3fr;
    grid-template-areas: "head"
                         "slider-hr"
                         "slider-wraper";
}

@media (max-width: 768px) {
    .prod-novedades {
        margin-bottom: -3rem;
        transform: translateY(-1rem);
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .prod-novedades {
        top: 3rem;
    }
    
  }
