.pago {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 0.1fr);
    grid-template-areas: "head"
                         "detalles"
                         "pagar";
    width: 100%;
    padding: 1rem 2rem;
    gap: 1rem;
}

.pago-title {
    grid-area: head;
    top: 0;
    grid-column: 1 / -1;
    display: block;
    padding: 1rem 3rem;
    height: 5rem;
}

.h3-pago {
    width: 100%;
    font-size: 1.6rem;
    font-style: italic;
    color: var(--menu-links-color);
    display: flex;
    align-content: flex-start;
}

.hr-pago  {
    width: 100%;
    margin-top: 0;
}



.detalles {
    grid-area: detalles;
    width: 100%;
}

.pagar {
    grid-area: pagar;
    width: 100%;
    padding: 0.5rem;
    
}

.pagar h2 {
    font-weight: bold;
    color: var(--menu-links-color);
}

.detalles-productos {
    overflow: auto;
    height: 45vh;
    margin: 0.5rem;
}

.retiro-envio,
.total-title,
.label-elige {
    display: inline-block;
}

.label-elige {
    margin-left: 4rem;
}

.retiro-envio {
    display: inline-block;
    margin: 0 0.5rem;
}



/* Customize the label (the container) */
.container-enviar-ret {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-enviar-ret input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(0, 158, 61);
}

/* On mouse-over, add a grey background color */
.container-enviar-ret:hover input ~ .checkmark {
  background-color: rgb(0, 158, 61);
}

/* When the checkbox is checked, add a blue background */
.container-enviar-ret input:checked ~ .checkmark {
  background-color: var(--menu-links-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-enviar-ret input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-enviar-ret .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 768px) { 

    .label-elige {
        margin-left: 2rem;
    }
    .pago {
        padding: 1rem 0;
    }

    .pago-title {
        padding: 1rem 1rem;
    }

    .detalles h2 {
        font-size: 1.5rem;
    }
}
