 
    .product-cart {
        display: flex;
        flex-direction: column;
        
        width: 13rem;
        height: 45vh;
        background-color: var(--titulo-seccion-color);
    }
    
    .product-img-top {
        height: 67%;
    }
    
    .product-img{
        width: 100%;
        height: 100%;
        /* width: 12.3vw;
        height: 25vh; */
        object-fit: fill;
        border-top-right-radius: 2.5rem;
    }
    
    .product-desc {
        color: var(--menu-links-color);
        background-color: var(--color-grey);
        height: 33%;
        padding: 0.6rem;
        text-align: left;
    }
    
    .product-desc h5{
        font-size: 0.8rem;
        font-weight: 400;
        margin-top: -0.5rem;
        /* white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; */
    }
    
    .product-desc h6 {
        font-size: 1.2rem;
        font-weight: 600;
        bottom: 0;
        padding: 0.2rem;
        margin-top: 0.1rem;
        margin-bottom: 0.6rem;
    }

    #precio-ant {
        margin-top: -0.5rem;
        font-size: 0.7rem;
        font-weight: 500;
    }

    #nuevo-pre {
        margin-top: -0.8rem;
    }

    
      

@media (min-width: 1500px){
    .product-cart {
        width: 16.5rem;
        height: 38vh;
    }
} 



@media (max-width: 768px) and (orientation: landscape) {

    .product-cart {
        margin-top: -1rem;
    }

    .product-desc h6 {
        font-size: 1rem;
        font-weight: 600;
        bottom: 0.5rem;
        padding: 0.2rem;
        margin-top: -1rem;
    }

}

@media (max-width: 768px) {
    
    .product-cart {
        
        width: 100%;
        height: 40vh;
        
    }
    
    .product-img-top {
        width: 100%;
        height: 65%;
    }
    
    .product-img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-top-right-radius: 2.5rem;
    }
    
    .product-desc {
        color: var(--menu-links-color);
        background-color: var(--color-grey);
        padding: 0.2rem;
        height: 35%;
        top: 0;
    }
    
    .product-desc h5{
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        font-weight: 400;
        width: 100%;
        height: 2rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .product-desc h6 {
        font-size: 0.8rem;
        font-weight: 800;
        top: 0;
    }

   

} 

@media (min-width: 320px) and (max-width: 480px) {
  
    .product-cart {
        height: 30vh;
    }
    
  }