.product-main {
    background-color: white;
    color: var(--menu-links-color);
    width: 100%;
    height: 100vh;
    grid-gap: -2rem;
    display: grid;
    padding: 4rem 10rem;
    grid-template: 1fr 1fr 4fr / 3fr 1fr;
    grid-template-areas: "banner banner"
                         "name category"
                         "content content";
}

.banner {
    grid-area: banner;
    text-align: left;
    align-content: left;
    width: 98.3vw;
    left: 0;
    right: 0;
    top: 0;
    transform: translate(-10rem, -3rem);
    height: 2rem;
    background-color: var(--color-grey);
    color: var(--menu-links-color);
}

.breadcrumb {
    font-family: "Lato", sans-serif;
    font-weight: 490;
    padding: 0;
    padding-left: 10rem;
    cursor: pointer;
}

.product-head {
    width: 100%;
    margin: 0 7rem;
    text-align: right;
    transform: translateY(-2rem);
}

#nameP {
    grid-area: name;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    font-style: italic;
    width: 40rem;
    display: inline;
    transform: translateX(3rem);
    
}


#catP {
    grid-area: category;
    padding: 0.12rem;
    background-color: var(--menu-links-color);
    color: white;
    font-size: 1.2rem;
    display: inline;
    transform: translateX(3rem);
    border-radius: 0.2rem;
    cursor: pointer;
}



.hr-prod{
    width: 97.6%;
    border: 0.059rem solid var(--menu-links-color);
    margin: 0 0;
    transform: translateX(1.5rem);
}


.product-content {
    grid-area: content;
    margin-top: 0;
    width: 53vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 1rem;
    

}

.producto-img{
    display: block;
    background-color: var(--titulo-seccion-color);
    width: 55%;
    border-color: var(--color-grey);
}

.img-pro {
    object-fit: cover;
    width: 100%;
    height: 60vh;
    border-style: solid;
    border-color: var(--color-grey);
    
}

.product-info{
    background-color: var(--color-grey);
    width: 45%;
}

.des-title{
    font-size: 1.3rem;
    font-weight: 800;
}