@media (min-width: 768px){ 
    .product-cart {
        display: flex;
        flex-direction: column;
        border-style: solid;
        border-color: var(--color-grey);
        width: 100%;
        background-color: var(--titulo-seccion-color);
    }
    
    .product-img-top {
        width: 100%;
        height: 32vh;
    }
    
    .product-img{
        width: 100%;
        height: 32vh;
        /* width: 12.3vw;
        height: 25vh; */
        object-fit: cover;
        border-top-right-radius: 2.5rem;
    }
    
    .product-desc {
        color: var(--menu-links-color);
        background-color: var(--color-grey);
        height: 11vh;
        padding: 0.5rem;
    }
    
    .product-desc h5{
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }
    
    .product-desc h6 {
        font-size: 1rem;
        font-weight: 600;
        bottom: 0;
        margin-top: 0.3rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .product-img{
        width: 100%;
    }
}  

@media (max-width: 768px) {
    
    .product-cart {
        display: flex;
        flex-direction: column;
        border-style: solid;
        border-color: var(--color-grey);
        width: 100%;
        height: 30vh;
        background-color: var(--titulo-seccion-color);
    }
    
    .product-img-top {
        width: 100%;
        height: 100%;
    }
    
    .product-img{
        width: 100%;
        height: 19vh;
        /* width: 12.3vw;
        height: 25vh; */
        object-fit: cover;
        border-top-right-radius: 2.5rem;
    }
    
    .product-desc {
        color: var(--menu-links-color);
        background-color: var(--color-grey);
        padding: 0.4rem;
        height: 100%;
        top: 0;
    }
    
    .product-desc h5{
        font-size: 0.7rem;
        font-weight: 400;
        margin-bottom: 0.2rem;
    }
    
    .product-desc h6 {
        font-size: 0.7rem;
        font-weight: 600;
        top: 0;
        margin-bottom: 0;
    }
} 