.section-slider {
    margin-top: 0.5rem;
    position: relative;
    height: 57vh;
    object-fit: cover;
    padding: 1rem;
}

.slider-wraper {
    grid-area: slider-wraper;
    width: 99%;
    height: 67vh;
    transform: translate(0.2rem, -6rem);
}

.slider-titulo {
    grid-area: head;
    display: flex;
    align-self: left;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: var(--titulo-seccion-color);
    margin-bottom: 0;
}

.hr-head {
    grid-area: slider-hr;
    width: 100%;
    border: 1px solid var(--color-grey);
}
  
  
.slider-cell{
    
    width: 23.5%;
    height: 100%;
    margin-right: 0.8rem;
    transform: translateY(5.7rem);
}

/* TABLET */

@media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  
    .slider-cell {
        width: 30%;
    }

    .section-slider {
        transform: translateY(2rem);
    }
    
}


/* CELU */

@media (max-width: 600px) {

    .slider-titulo {
        transform: translateX(-2rem);
    }

    .hr-head {
        transform: translateX(-2rem);
        width: 85vw;
    }

    .slider-wraper {
        width: 80vw;
        height: 60vh;
        transform: translate(-2rem, -6rem);
    }

    .section-slider {
        height: 60vh;
        margin-top: 3rem;
    } 

    .slider-cell {
        width: 45%;
        height: 100%;
    }
    
}