.section-slider {
    margin-top: 0.5rem;
    position: relative;
    height: 57vh;
    object-fit: cover;
    margin-bottom: 3rem;
}

.slider-wraper {
    grid-area: slider-wraper;
    grid-template-columns: repeat(auto, 5rem);
    justify-content: center;
    width: 99%;
    height: 60vh;
    transform: translate(0.2rem, -6rem);
}

.slider-titulo {
    grid-area: head;
    display: flex;
    align-self: left;   
    font-family: 'Noto Sans', sans-serif;
    color: var(--titulo-seccion-color);
    margin-bottom: 0;
}

.hr-head {
    grid-area: slider-hr;
    width: 100%;
    border: 1px solid var(--color-grey);
}
  
  
.slider-cell{
    height: 100%;
    margin-right: 0.8rem;
    transform: translateY(5.7rem);
}



@media (max-width: 768px) and (orientation: landscape) {
  
    .slider-wraper {
        height: 80vh;
    }

    .hr-head {
        transform: translateY(-1rem);
    }
    
  }

@media (min-width: 320px) and (max-width: 480px) {

    .slider-wraper {
        margin-bottom: -5rem;
    }

}


/* CELU */
@media (max-width: 768px) {
    .slider-wraper {
        transform: translateX(-2rem, -6rem);
        grid-template-columns: repeat(auto, 10rem);
    }

    .section-slider {
        margin-top: 4rem;
        margin-bottom: 2rem;
        width: 100%;
    } 

    .slider-cell {
        width: 10rem;
        height: 100%;
        margin: 0 0.5rem;
    }
    
}