@import "./components/img_perfil.css";
@import "./components/grid_fotos.css";
@import "./components/mensajes.css";

.jumbotron-image {
  /* background-position: center center; */
  background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
}

.table td {
	vertical-align: middle;
}
